<!--<div class="sign-in-wrapper">
  <div class="form-signin">
    <div class="text-center">
      <img class="mb-4"
           src="assets/images/logo.png"
           alt="Logo image"
           i18n-alt="Logo image hover @@landing.sign-in.brand-image-hover">
      <h1 class="h3 mb-3 font-weight-normal">
        AnyLogistix.Web
      </h1>
      <p i18n="User instructions @@landing.sign-in.please-sign-in">
        Please sign in
      </p>
    </div>
    <input class="form-control"
           i18n-placeholder="Login placeholder @@landing.sign-in.login-placeholder"
           type="text"
           placeholder="Login"
           [ngModel]="login"
           (ngModelChange)="onLoginChanged($event)" />
    <input class="form-control"
           type="password"
           i18n-placeholder="Password placeholder @@landing.sign-in.password-placeholder"
           placeholder="Password"
           [ngModel]="password"
           (ngModelChange)="onPasswordChanged($event)" />
    <button class="btn btn-lg btn-primary btn-block"
            i18n="Sign in button @@landing.sign-in.button-sign-in"
            type="button"
            (click)="onSignInClick()">
      SIGN IN
    </button>
    <p class="mt-5 mb-3 text-muted text-center">© 2019</p>
  </div>
</div>-->
