@font-face {
  font-family: 'cty';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/cty.eot');
  src: url('../fonts/cty.eot?#iefix') format('embedded-opentype'), url('../fonts/cty.woff') format('woff'), url('../fonts/cty.ttf') format('truetype'), url('../fonts/cty.svg') format('svg');
}
